process {
    withName: 'NCBIGENOMEDOWNLOAD' {
        ext.args = { "--formats fasta --no-cache -m metadata.tsv --assembly-level ${params.assembly_level} ${params.group}" }
        errorStrategy = { task.exitStatus == 75 ? 'retry' : 'terminate' }
        maxRetries = 3
    }
    withName: 'REFERENCESEEKER_DB' {
        publishDir = [
            path: { "${params.outdir}/${organism.toLowerCase().tokenize(" ")[0,-1].unique().join("_")}" },
            pattern: "*.{msh,tsv}"
        ]
    }
}
