manifest {
    name = 'ref-match-db'
    version = '1.0.0'
    description = 'Reference match database'
    mainScript = 'main.nf'
    defaultBranch = 'main'
}

includeConfig 'confs/params.config'
includeConfig 'confs/modules.config'

profiles {
    standard {
        process {
            withLabel: 'process_low' {
                cpus = 4
                memory = '4 GB'
                time = '1h'
            }
        }
    }
    conda {
        params.enable_conda = true
        docker.enabled = false
    }
    docker {
        params.enable_conda = false
        docker.enabled = true
    }
    test {
        includeConfig 'confs/test.config'
    }
}

